<div class="card mb-3 task-card" [class.task-overdue]="isOverdue()" >
    <!-- [class.task-overdue] adds red styling if task is overdue -->

    <div class="card-body">

        <div class="d-flex justify-content-between align-items-start">

            <!-- left-side -->

            <div class="flex-grow-1">

                <div class="form-check mb-2">
                     <input
                     type="checkbox"
                     class="form-check-input"
                     [id]="'task-' + task._id"
                     [checked]="task.completed"
                     (change)="onToggleComplete()"
                     />
                     <label 
                     class="form-check-label task-title-label" 
                     [for]="'task-' + task._id"
                     >

                <div class="d-flex align-items-center gap-2 mb-2">
                    <h5 class="card-title mb-0">{{ task.title }}</h5>

                    <span
                    class="badge" 
                    [class]="'bg-' + getPriorityClass()"
                    *ngIf="task.priority"
                    >{{ getPriorityLabel() }}</span>
                    
                    <span
                    class="badge bg-success"
                    *ngIf="task.completed"
                    >
                    Completed
                    </span>
                </div>
                </label>
                </div>
                <!-- description -->
                <p class="card-text text-muted mb-2">{{ task.description }}</p>

                <!-- due -->
                 <div *ngIf="task.dueDate" class="mb-2">

                    <small>
                        <i class="bi bi-calendar-check"></i>
                        Due: {{ task.dueDate | date: 'MMM d, y'}}

                        <span class="badge bg-danger ms-2" *ngIf="isOverdue()">
                            overdue
                        </span>
                        <span class="badge bg-warning ms-2" *ngIf="isDueSoon() && !isOverdue()">
                            Due soon
                        </span>
                    </small>
                 </div>

                 <div class="small text-secondary">
                    <div>
                        <i class="bi bi-calendar-event"></i>
                        created: {{ task.created_at | date: 'short'}}
                    </div>
                    <div *ngIf="task.updated_at">
                        <i class="bi bi-calendar-clockwise"></i>
                        updated: {{ task.updated_at | date: 'short'}}
                    </div>
                 </div>

            </div>

            <!-- rifht-side -->
             <div class="btn-group-vertical ms-3" role="group">
                <button
                type="button"
                class="btn btn-sm btn-outline-primary"
                (click)="onEdit()"
                title="Edit Task">
                    <i class="bi bi-pencil"></i>
                    Edit
            </button>
            <button
            type="button"
            class="btn btn-sm btn-outline-danger"
            (click)="onDelete()"
            title="Delete Task"
            >
            <i class="bi bi-trash"></i>
                Delete
            </button>
             </div>
        </div>
    </div>
</div>