<div class="card shawdow-sm mb-4">
    <div class="card-body">
        <h2 class="card-title mb-4">
            {{ editingTask? 'Edit task' : 'Add new task'}}
        </h2>

        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

            <!-- Title field -->
             <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input
                id="title"
                type="text"
                formControlName="title"
                placeholder="Enter the title"
                class="form-control"
                [class.is-invalid]="title?.invalid && title?.touched"
                />
                <div class="invalid-feedback d-block" *ngIf="title?.invalid && title?.touched">
                    Title is required.
                </div>
             </div>

             <!-- Description field -->

             <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                id="description"
                formControlName="description"
                placeholder="Enter the description"
                class="form-control"
                [class.is-invalid]="description?.invalid && description?.touched"
                ></textarea>
                <div class="invalid-feedback d-block" *ngIf="description?.invalid && description?.touched">
                    Description is required.
                </div>
             </div>

             <!-- Due Date field -->
             <div class="mb-3">
                <label for="dueDate" class="form-label">Due Date</label>
                <input
                id="dueDate"
                type="date"
                formControlName="dueDate"
                class="form-control"
                />
                <small class="txt-muted"> Set a deadline for this task</small>
             </div>

             <!-- Priority field -->
             <div class="mb-3">
                <label for="priority" class="form-label">Priority</label>
                <select
                id="priority"
                formControlName="priority"
                class="form-select"
                >
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
                </select>
                <small class="txt-muted"> how urgent is this task</small>
             </div>


             <!-- Submit button -->
                <button 
                type="submit" 
                class="btn btn-primary w-100" 
                [disabled]="taskForm.invalid">
                <i class="bi bi-plus-lg"></i>
                    {{ editingTask? 'Update Task' : 'Add Task'}}
                </button>


        </form>
    </div>
</div>
